* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.header {
   max-width: 1300px;
   margin: auto;
 padding-left: 25px;
 padding-right: 25px;   


}
.navbar {
    display: flex;
align-items: center;
justify-content: space-between;
}
.navbar ul li {
  display: inline-block;
  margin: 10px 10px;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
}
.cart {
    width: 5%;
    margin-top: 1.2px;
}
.logo {
    width: 20%;
}
.header-content {
    display: flex;
       align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   position: absolute;
   top: 10px;
}
.col-2 {
    flex-basis: 50%;
min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}