* {
    padding: 0;
margin: 0;
box-sizing: border-box;
}

.header {
    width: 100%;
  height: 100vh;
background: radial-gradient( circle closest-side,rgba(255, 255, 255, 0.338) , rgba(255, 0, 0, 0.19));
background-size: cover;
background-position: center;
}
.head-image {
padding-left: 700px;
position: absolute;
top: 120px;

}
.head-image img {
    width: 100%;
    height: 60vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    width: 150px;
   cursor: pointer;
}
nav ul {
    list-style: none;
    padding-right:50px ;
    width: 100%;
    text-align: right;
}
nav ul li {
  display: inline-block;
 
text-align: right;
margin-left: 19px;


}
nav ul li a {
    text-decoration: none;
    color: #333;

}
.cart {
    width: 40px;
    margin-right: 60px;
    cursor: pointer;
 
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.header-img {
position: absolute;
top: 150px;
}
.content-image {
    width: 35%;
float: right;

}
.header-text {
    margin-top: 200px;
    margin-left: 40px;
}
.header-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.header-text p {
    font-size: 15px;
    font-weight: 500;
}
.btn {
cursor: pointer;
outline: 0;
border: 0;
padding: 10px 20px;
border-radius: 30px;
background: #db0001;
color: #fff;
}
.second-row {
   margin-top: 200px;
   background-color: #fff;
   width: 100%;
   height: 100vh;
}
.images {
    display: flex;
    justify-content: space-evenly;
}
.category-1 {
    width: 20%;
}
.category-2 {
    width: 20%;
}
.category-3 {
    width: 20%;
}