* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   background-color: black;
   height: 100vh;
   background-position: center;
   background-size: cover;
   width: 100%;
}

.topnav {
    display: flex;
    margin-left: 30px;
align-items: center;
justify-content: space-between;
}

nav ul li  {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}

.content {
    color: #fff;
    margin-top: 50px;
    margin-left: 40px;
}
.content h1 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 100px;
  position: relative;
}
.btn {
    text-decoration: none;
    color: #fff;
    background: #888;
    padding: 10px 20px;
    font-size: 16px;
   position: absolute;
}
.row {
    display: flex;
}

.side-note {
    position: absolute;
    top: 500px;
    color: #fff;
    margin-left: 850px;
}